<!--  Kayıt ol sayfasi   --> <!--    -->
<html lang="en">
<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>     Kayıt Başarılı          </title>
</head>
<body>
    <h1>Kayıt  OL </h1>
  

  <!-- Kullanıcıdan isim ve parola bilgisi girişi için form -->
    <form method="post" action="{{ url_for('register') }}">
        <label for="isim">İsim:</label>

                        <input type="text" id="new_password" name="new_username" required>

        <label for="parola">Parola:</label>

                        <input type="password" id="new_password" name="new_password" required>

        <input type="submit" value="Kaydet">
    </form>


    <p><a href="{{ url_for('login') }}">Giriş yapmak için tıklayın.</a></p>
</body>
</html>
